<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
            href="https://fonts.googleapis.com/css2?family=Gotu&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/css/bundleWinnetouStyles.min.css" />
        <title>App WinnetouJs</title>
    </head>

    <body>
        <% var action = (action1!=false?"/"+action1:"/") + (action2!=false?"/"+action2:"")
        + (action3!=false?"/"+action3:"") %>

        <div id="app"></div>

        <!-- para suporte no Ie9+ -->
        <script src="https://polyfill.io/v3/polyfill.min.js"></script>
        <!-- bundleWinnetou -->
        <script src="/js/bundleWinnetou.min.js"></script>

        <script>
            W.navigate("/");

            <%if(action!="/"){%>
                W.navigate("<%-action%>");
            <%}%>
        </script>
    </body>
</html>
