@use 'sass_modules/vars';
body,
#box,
#menuLeft,
#app {
    margin: 0px;
    padding: 0px;
    font-family: "Baloo Paaji 2", Arial, Helvetica, sans-serif;
    background-color: vars.$bg;
    color: vars.$fg;
}
#box {
    display: flex;
}
#menuLeft {
    width: 300px;
    @media screen and (max-width: 700px) {
        display: none;
    }

    @media screen and (min-width: 700px) {
        display: block;
    }
}
.winIcons {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    :hover {
        fill: #ff0000;
    }
}

$scheme-main: vars.$bg;
$text: vars.$fg;
$text-invert: vars.$bg;
$text-strong: vars.$fg;
$background: vars.$bg;
$link-active: vars.$fg;
$text-light: vars.$fg;

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/components/panel.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/components/modal.sass";
